<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Finally New</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <navbar>
    <div class="navbar">
      <div class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/view">Calculations</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo_modern.png') }}" width="250">
      </div>
    </div>
  </navbar>
  <div class="container">
    <div>
      <h1>Calculate Construction Costs</h1>
    </div>
    <div class="form">
      <form method="POST" action="{% if record %}/updateRecord{% else %}/addRecord{% endif %}" id="buildingInformationForm">
        <div class="formField">
          <input type="hidden" name="uID" value="{{ record.uID }}">
          <select name="buildingUsage" id="buildingUsage" value="{{ record.buildingUsage }}">
            <option value="1" {% if record.buildingUsage == 1 %}selected{% endif %}>Family house</option>
            <option value="2" {% if record.buildingUsage == 2 %}selected{% endif %}>Multi family house (3-4 units)</option>
            <option value="3" {% if record.buildingUsage == 3 %}selected{% endif %}>Multi generation house</option>
            <option value="4" {% if record.buildingUsage == 4 %}selected{% endif %}>Multi family house (6-12 units)</option>
          </select>
          <label for="buildingUsage">What do you want</label>
        </div>
        <div class="formField">
          <select name="buildingType" id="buildingType" value="{{ record.buildingType }}">
            <option value="1" {% if record.buildingType == 1 %}selected{% endif %}>New building</option>
            <option value="2" {% if record.buildingType == 2 %}selected{% endif %}>Conversion</option>
            <option value="3" {% if record.buildingType == 3 %}selected{% endif %}>Extension</option>
          </select>
          <label for="buildingType">What do you want</label>
        </div>
        <div class="formField">
          <input type="number" name="buildingCubicMeters" id="buildingCubicMeters" value="{{ record.buildingCubicMeters }}">
          <label for="buildingCubicMeters">How many Cubic Meters</label>
        </div>
        <div class="formField">
          <select name="buildingConstructionType" id="buildingConstructionType" value="{{ record.buildingConstructionType }}">
            <option value="1" {% if record.buildingConstructionType == 1 %}selected{% endif %}>Solid construction</option>
            <option value="2" {% if record.buildingConstructionType == 2 %}selected{% endif %}>Timber construction</option>
            <option value="3" {% if record.buildingConstructionType == 3 %}selected{% endif %}>Steel construction</option>
          </select>
          <label for="buildingConstructionType">What do you want</label>
        </div>
        <div class="formField">
          <select name="buildingStandard" id="buildingStandard" value="{{ record.buildingStandard }}">
            <option value="1" {% if record.buildingStandard == 1 %}selected{% endif %}>Low</option>
            <option value="2" {% if record.buildingStandard == 2 %}selected{% endif %}>Medium</option>
            <option value="3" {% if record.buildingStandard == 3 %}selected{% endif %}>High</option>
          </select>
          <label for="buildingStandard">What do you want</label>
        </div>
        <div class="formField">
          <select name="buildingTerrain" id="buildingTerrain" value="{{ record.buildingTerrain }}">
            <option value="1" {% if record.buildingTerrain == 1 %}selected{% endif %}>Flat</option>
            <option value="2" {% if record.buildingTerrain == 2 %}selected{% endif %}>Hillside</option>
          </select>
          <label for="buildingType">What do you want</label>
        </div>
        <div class="formField">
          <input type="submit" value="{% if record %}Update{% else %}Add Record{% endif %}">
        </div>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/id.js') }}"></script>
  </script>

</body>

</html>