<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>
<style>
  .container {
    width:80%;
    height:100%;
    background-color:azure;
  }
</style>
<body>
  <div class="container">
    <h2>View</h>
    {%for record in records %} 
  
    <li>{{ record['buildingCubicMeters'] }}, {{ record['buildingType'] }}</li> 
{%endfor%} 
  </div>
</body>
</html>